In [2]:
import numpy as np
import pandas as pd
%matplotlib inline

from sklearn.preprocessing import LabelEncoder

import matplotlib.pyplot as plt
import seaborn as sns

data=pd.read_csv('store.csv')

In [3]:
data.head()   ######info about data

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,679,2018-05-01 00:00:00,2018-05-01 00:11:19,31302,Wisconsin Ave & Newark St NW,31307,3000 Connecticut Ave NW / National Zoo,W22771,Member
1,578,2018-05-01 00:00:20,2018-05-01 00:09:59,31232,7th & F St NW / National Portrait Gallery,31609,Maine Ave & 7th St SW,W21320,Casual
2,580,2018-05-01 00:00:28,2018-05-01 00:10:09,31232,7th & F St NW / National Portrait Gallery,31609,Maine Ave & 7th St SW,W20863,Casual
3,606,2018-05-01 00:01:22,2018-05-01 00:11:29,31104,Adams Mill & Columbia Rd NW,31509,New Jersey Ave & R St NW,W00822,Member
4,582,2018-05-01 00:04:52,2018-05-01 00:14:34,31129,15th St & Pennsylvania Ave NW/Pershing Park,31118,3rd & Elm St NW,W21846,Member

In [4]:
data.info()    ###### info about data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374115 entries, 0 to 374114
Data columns (total 9 columns):
Duration                374115 non-null int64
Start date              374115 non-null object
End date                374115 non-null object
Start station number    374115 non-null int64
Start station           374115 non-null object
End station number      374115 non-null int64
End station             374115 non-null object
Bike number             374115 non-null object
Member type             374115 non-null object
dtypes: int64(3), object(6)
memory usage: 25.7+ MB

In [5]:
data.dtypes   ##### info about types

Duration                 int64
Start date              object
End date                object
Start station number     int64
Start station           object
End station number       int64
End station             object
Bike number             object
Member type             object
dtype: object

In [6]:
data['Duration'].describe()  #### statistics

count    374115.000000
mean       1261.837144
std        2423.195856
min          60.000000
25%         441.000000
50%         769.000000
75%        1322.000000
max       86181.000000
Name: Duration, dtype: float64

In [7]:
data=data.drop('Start date',axis=1)#drop these columns
data=data.drop('End date',axis=1)
data=data.drop('Start station',axis=1)
data=data.drop('End station',axis=1)

In [8]:
data

,Duration,Start station number,End station number,Bike number,Member type
0,679,31302,31307,W22771,Member
1,578,31232,31609,W21320,Casual
2,580,31232,31609,W20863,Casual
3,606,31104,31509,W00822,Member
4,582,31129,31118,W21846,Member
5,175,31104,31117,W22986,Member
6,1605,31264,31641,W21891,Casual
7,1591,31264,31641,W22665,Casual
8,509,31116,31203,W01330,Member
9,592,31609,31609,W22911,Member
10,1237,31609,31230,W00928,Casual
11,697,31294,31636,W23450,Member
12,1226,31609,31230,W22964,Casual
13,582,31624,31241,W20390,Member
14,554,31111,31241,W21125,Member
15,993,31237,31288,W22286,Member
16,209,31204,31275,W21180,Member
17,160,31223,31636,W01057,Member
18,1173,31609,31807,W22911,Member
19,314,31111,31203,W23430,Member
20,5012,31084,31084,W22283,Casual
21,1595,31216,31220,W22926,Member
22,515,31291,31281,W00472,Member
23,1073,31235,31108,W00788,Member
24,563,31623,31500,W20286,Member
25,327,31308,31302,W00760,Casual
26,338,31234,31225,W20715,Member
27,2788,31613,31515,W21175,Member
28,86,31123,31124,W00811,Member
29,594,31104,31400,W21819,Member
...,...,...,...,...,...
374085,5090,31245,32062,W22619,Member
374086,411,31111,31201,W00832,Member
374087,1607,31208,31227,W21052,Member
374088,2208,31247,31200,W22423,Casual
374089,2204,31247,31200,W20418,Casual
374090,661,31216,31506,W22048,Member
374091,757,31114,31636,W21576,Member
374092,781,31233,31285,W01236,Casual
374093,258,31274,31266,W21745,Member
374094,759,31118,31645,W20157,Member
374095,1472,31204,31603,W21333,Member
374096,186,31102,31126,W23493,Member
374097,239,31255,31200,W00864,Member
374098,272,31275,31255,W00646,Member
374099,515,31101,31118,W20998,Member
374100,177,31203,31266,W20804,Member
374101,625,31128,31233,W00224,Member
374102,326,31201,31111,W00832,Member
374103,437,31268,31600,W00805,Member
374104,1109,31200,31318,W20006,Member
374105,317,31200,31114,W00864,Member
374106,1488,31603,31204,W23069,Member
374107,315,31124,31400,W21790,Member
374108,375,31241,31109,W21742,Member
374109,119,31103,31122,W22996,Member
374110,297,31296,31116,W01336,Member
374111,179,31116,31214,W22902,Member
374112,496,31268,31124,W00969,Member
374113,761,31110,31228,W23398,Member
374114,610,31312,31278,W00808,Member

In [ ]:
# data.head()                                    ########### label encoder
le = LabelEncoder()
le.fit(data['Member type'])
data['Member type'] = le.transform(data['Member type'])

In [8]:
le = LabelEncoder()
le.fit(data['Bike number'])
data['Bike number'] = le.transform(data['Bike number'])

In [9]:
data.head()

,Duration,Start station number,End station number,Bike number,Member type
0,679,31302,31307,3633,1
1,578,31232,31609,2376,0
2,580,31232,31609,1977,0
3,606,31104,31509,676,1
4,582,31129,31118,2819,1

In [10]:
data.shape     ###### data.size

(374115, 5)

In [11]:
train=np.array(data.iloc[0:85000])   ### spitting into training and testsign
test=np.array(data.iloc[85000:,]) #Dataframe.iloc[] method is used when the index label of a data frame is something other than numeric series of 0, 1, 2, 3….n or in case the user doesn't know the index label.

In [12]:
train.shape,test.shape       ########  train and test

((85000, 5), (289115, 5))

In [13]:
from sklearn.naive_bayes import GaussianNB   ##### guassian
model=GaussianNB()

In [14]:
model.fit(train[:,0:4],train[:,4])
predicted=model.predict(test[:,0:4])

In [15]:
predicted.shape

(289115,)

In [16]:
predicted

array([0, 1, 1, ..., 1, 1, 1], dtype=int64)

In [17]:
count=0                 ### accuracy
for l in range(30597):  
    if(predicted[l]==test[l,4]):
        count=count+1

In [18]:
count

24972

In [19]:
print(count/30597)

0.8161584469065595